.menuCabecera{
background-color: #A4CDD7;
width: 100%; height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.banner{
     background-image: url(../imagenes/selena1.avif);
     background-size: cover;
     background-position-y:30% ;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    
}
.CajaColumnas{
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
}
.columna{
    flex: 1;
    background-color:  #f0f0f0;
    border: 1px solid black;
    text-align: center;
}
.ColorVerde{
    background-color: green;
}
.ColorCeleste{
    background-color: skyblue;
}
.ColorAqua{
    background-color: aqua;
}
.final{background-color: chocolate;
width: 100%;
height: 120px;}
.menuSuperior li{
    display: inline;
    padding: 5px;
    border-right: solid 2px black;
}
.menuSuperior li:last-child{
    border-right: none;
}
.menuSuperior{
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}
.menuSuperior li a:hover{
    color: #e2430c;
    background-color: #02506E;
    text-decoration: overline;
}
li a{
    text-decoration: none;

}
.banner{
   
}