.menuCabecera{
background-color: #be1622;
width: 100%; height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: #1d70b8;
    width: 100%;
    height: 120px;
}
.CajaColumnas{
display: flex;
justify-content: space-around;
align-items: center;
gap: 10px;
}
.columna{
    flex: 1;
    background-color:  #f0f0f0;
    border: 1px solid black;
    text-align: center;
}
.ColorVerde{
    background-color: green;
}
.ColorCeleste{
    background-color: skyblue;
}
.ColorAqua{
    background-color: aqua;
}
.final{background-color: chocolate;
width: 100%;
height: 120px;}